# Godot cache
.godot/
.nomedia

# import tiedostot
.import/
*.import

# Exportit
export.cfg
export_credentials.cfg

# Temp
*.tmp

# Käännökset
*.translation

# Mono
.mono/
data_*/
mono_crash.*.json

# OS
.DS_Store
Thumbs.db